.watch {
  align-items: center;
  border: 1px solid red;
  display: flex;
  height: 300px;
  justify-content: center;
  position: relative;
  width: 300px;
}

.mode-btn {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.increase-btn {
  left: 20px;
  position: absolute;
  top: 20px;
}

.remove-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
