body {
  background-color: #f3f4f6;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

li {
  align-items: center;
  background-color: #4b5563;
  border-radius: 1.5rem;
  display: flex;
  height: 250px;
  justify-content: center;
  position: relative;
  width: 250px;
}

li > button {
  position: absolute;
}

.time-text {
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding: 1rem;
}

.mode-btn {
  bottom: 20px;
  left: 20px;
}

.increase-btn {
  left: 20px;
  top: 20px;
}

.reset-btn {
  right: 20px;
}

.toggle-light-btn {
  bottom: 20px;
  right: 20px;
}

.remove-btn {
  right: 20px;
  top: 20px;
}
